{% extends 'base.html' %}

{% block title %}
Страница с новостями
{% endblock%}

{% block body %}
<div class="container">
    <header id="masthead" class="site-header container" role="banner">
		<div class="site-branding">
			  			<h1 class="site-title text-center"><a>Контакты</a></h1>
        </div>
</header>

    <img class="mb-4" src="https://multiurok.ru/img/364327/image_59fc077a49e5c.jpeg">
    <p>Брянская обл., г. Дятьково, ул. Ленина, д.159</p>
    <p>тел. 8(48333)33828 (заказ экскурсий, касса)</p>
    <p>8(48333)33778 (научные сотрудники)</p>
    <p>8(48333)32751 (директор)</p>
    <p>email: crystalmuseum@mail.ru</p>
</div>
{% endblock%}