{% extends 'base.html' %}

{% block title %}
Главная страница
{% endblock%}

{% block body %}

<header id="masthead" class="site-header container" role="banner">
		<div class="site-branding">
			  			<h1 class="site-title text-center"><a>Основная страница сайта</a></h1>
		</div>
				<div id="site-header">
			<a href="http://xn--80ajfjlb5aijeew0l.xn--p1ai/" rel="home"></a>
		</div>
	</header>
<div class="container">
    <p>Государственное автономное учреждение культуры «Музей дятьковского хрусталя»
        располагается в уютном уголке  Брянской области, в районном центре – городе Дятьково.</p>
    <img src="https://im3.turbina.ru/photos.4/7/6/1/4/0/3304167/big.photo/Muzey-khrustalya.jpg" alt="" width="1000" height="730">
    <p>Своей историей и коллекцией музей неразрывно связан с Дятьковским хрустальным заводом, который был основан  в 1790 году известными российскими промышленниками и меценатами Мальцовыми, владевшими комплексом разнообразных производств на территории Орловской, Смоленской и Калужской губерний.   Год основания завода с уверенностью можно считать и годом основания музея, первоначально представлявшего собой образцовую комнату при заводе.
        С 1976 года музей располагается  в двухэтажном современном    здании, доступном для всех посетителей. Коллекция музея насчитывает  более двенадцати тысяч единиц хранения, три тысячи из которых  которые размещены  в основной экспозиции площадью 1800м².
        В музейное собрание входят уникальные предметы декоративного убранства интерьеров, подарки известным персонам, изделия из хрусталя, цветного и бесцветного стекла различных методов выработки и декора XIX-XXI веков, а также самая крупная в России  коллекция авторских произведений художников советского периода.
        Объекты в экспозиции второго этажа размещены на открытых подиумах, между ними и зрителем нет никаких визуальных преград.  Это дает возможность увидеть, как пластические ансамбли предметов организуют пространство, заполняя его яркими образами.
        За годы работы музея с его коллекцией ознакомились более 2 миллионов  человек из разных городов России и зарубежья. В выставочных залах музея ежегодно проходят около 50-ти выставок из фондов музея хрусталя и  частных коллекций.
        В настоящее время музей является крупнейшим не только в нашей стране, но и превосходит по богатству уникального собрания многие музеи мира.</p>
    <h2>Музей принимает посетителей</h2>
    <h2>ежедневно (кроме понедельника)</h2>
    <h2>с 10-00 до 18-00</h2>
</div>

{% endblock%}
